canvas {display: block;
 margin: 0 auto;}  
 /* тут можно подогнать мою ширину,длину */
html { overflow:  hidden; }
div { height:  2000px; }
body { background: green; }


 button { 
    background: red;
    border-style: ridge;
    border-radius: 20px;
    width: 100px; 
    top: 82px; 
    left: 170px;
    bottom: 0;
    right: 0;
   }

