canvas {display: block;
 margin: 0 auto;}  
 /* тут можно подогнать мою ширину,длину */
html { overflow:  hidden; }
div { height:  2000px; }
body { background: green; }

button { 
    background: red;
    border-style: ridge;
    width: 100px; 
    top: 82px; 
    left: 170px;
    bottom: 100px;
    right: 100px;
   }

   

